<div class="row">
    <div class="col-lg-12">
        <div class="card mb-3">
            <h1 class="card-header text-center"><%= city.name %></h1>
            <img style="height: 100%; width: 100%; display: block;" src="<%= city.url %>">
            <div class="card-body">
              <h4 class="card-text text-center">1 Euro = <strong><%= city.currencyName %> <%= %> </strong></h4>
            </div>
            <div class="card-body">
                <h5 class="text-center"><form method="post" action="/city/<%= city.id %>/add" class="inline">
                    <input type="hidden">
                    <button type="submit" class="btn btn-primary btn-lg">
                      Add to Watchlist
                    </button>
                </form>
            </h5>
            </div>
          </div>
    </div>
</div>